doctype html
html
  head
    title Quiz Editing Page
    link(href="/stylesheets/quiz.css", rel="stylesheet")

  include navigation

  body
    .container
      h1 Question

      form(action= question ? `/EditQuiz/${question.id}` : '/add', method="POST")
        .input-row
          label(for="question") Question :
          textarea(type="text", rows="15", cols="100", name="question", id="question") #{question ? question.quiz_question : ''}

        .input-row
          label(for="answer") Answer :
          select(name="answer", id="answer")
            option(value=1, selected=question && question.quiz_answer === true) True
            option(value=0, selected=question && question.quiz_answer === false) False

        .button-row
          button(type="submit") Submit
          a.backBtn(href="displayquestion") Back

  include footer
