doctype html
html
  head
    title My CV
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/stylesheets/cv2.css')
  body
    .header
        h1 Chania

    .row
        .col-3
            .hamburger
                div menu

            .menu
                ul
                    li The Flight
                    li The City
                    li The Island
                    li The Food

        .col-6
            h1 The City
            p Chania is the capital of the Chania region on the island of Crete. The city can be divided in two parts, the old town and the modern city.

        .col-3.right
            .aside
                h2 What?
                p Chania is a city on the island of Crete.
                h2 Where?
                p Crete is a Greek island in the Mediterranean Sea.
                h2 How?
                p You can reach Chania airport from all over Europe.

    .footer
        p Resize the browser window to see how the content respond to the resizing.
    
    script(src='/javascripts/cv2.js')

