doctype html
html
  head
    title Quiz Editing Page
    link(href="/stylesheets/quiz.css", rel="stylesheet")

  include navigation

  body
    h1 Quiz Editing
    a(href="/add") Add Questions
    .container
      table
        thead
          tr
            th Question
            th Answer
            th Actions 
        tbody
          each question in formattedResults
            
            tr
              td= question.quiz_question
              td= question.quiz_answer ? 'True' : 'False'            
              td
                a.deleteBtn(href="delete/"+question.id) Delete 
                a.deleteBtn(href="EditQuiz/"+question.id) Edit 
  include footer
