include navigation.pug 
include layout.pug

block content
  .wrapper
    #box1
      .intro Hello! 
      .Hi My Name is Lee Chui Teng and This is my assignment 
    #box2
      img(src="./images/wavehand.png", alt="")
  //- h1= title
  //- p Welcome to #{title}

  a(href="/logout") logout
include footer.pug