doctype html 
html 
  head 
    title Login Page 
    link(href="/stylesheets/register.css", rel="stylesheet") 
    
  body 
    form#register-form(action="/login" method="post") 
      h1 Login 
      div 
        label(for="useremail") Email: 
        input#email(type="email" name="useremail", required) 
      div 
        label(for="userpassword") Password: 
        input#password(type="password" name="userpassword", required) 
      div 
        input#register-button(type="submit" value="Login")
        a(href="/") Go to Home
        p#email-error 