doctype html 
html 
  head 
    title Login Page 
    link(href="/stylesheets/quiz.css", rel="stylesheet") 
  include navigation  
  body 
    
    <h2 class= "Title"> Questions <span id="question-number"></span>/<span id="total-questions"></span> </h2>
    #question-container
      #question-text
      #answer-buttons
        button#true-btn True 
        button#false-btn False 
    
    script(src="/javascripts/JSquiz.js") 
  
  include footer 

