@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}

.box {
    width: 250px;
    height: 180px;
    border-radius: 10px;
    border: 1px #000 solid;
    padding: 10px;
    margin: 10px 10px 10px 0;
    float: left;
    background-color: rgba(255,255,255,0.6);
}

.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

.editBtn {
    padding: 8px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color:#3eb3e7;
}

.deleteBtn {
    padding: 8px;
    border-radius: 5px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #f4511e;
}
