*{
    margin: 0;
    padding: 0;
  }
body {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}



/* Home */
.wrapper {
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr 1fr;
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
    }

.intro{
    font-size: 40px;    
}

.Hi{
    font-size: 20px;
}

img {
    max-width: 100%;
    height: 100%;
}

/* Course */

.heading-link-row {
    display: flex;
    justify-content: space-between; /* Align items with space between them */
    align-items: center; /* Center align vertically */
}
  
.heading-link-row h2 {
    margin: 0; /* Remove default margin */
}

.course_container {
    max-width: auto;
    margin: 20px auto;
    padding: 0 200px;
}

.full-width-section {
    width: 100%;
    margin-bottom: 30px;
}

.two-column-section {
    display: flex;
    flex-wrap: wrap;
}

.half-width-section {
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.half-width-section iframe {
    border: none; /* Remove border from iframe */
}

.text {
    font-size: 20px;
    line-height: 1.6;
}

h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

ol {
    padding-left: 20px;
}

li.text {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 10px;
}

a.quiz-button {
    display: inline-block;
    padding: 10px 100px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    border-radius: 5px;
}

a.quiz-button:hover {
    background-color: #7fbdff;
    color: #000000;
    text-decoration: none;
}